{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username" class="control-label required">Username:</label>
            <input type="text"
                   id="username"
                   name="_username"
                   value="{{ last_username }}"
                   required="required"
                   class="form-control"
            />
        </div>
        <div class="form-group">
            <label for="password" class="control-label required">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" required="required"/>
        </div>

        <div class="form-group">
            <button type="submit" class="form-control">login</button>
        </div>
    </form>
    <a href="{{ url('register') }}">Регистрация</a>
{% endblock %}