{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {{ form(registrationForm) }}
    <a href="{{ url('login') }}">Вход</a>
{% endblock %}